@model SalesPerformanceRankingViewModel
@inject PReMaSys.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Sales Performance";
    Layout = "~/Views/Shared/DomainAdminDash.cshtml";
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<div class="back-button" style="margin-bottom:5px">
    <a class="notificationback-link btn btn-outline-success p-2 mt-5" asp-action="ReportsPage" asp-controller="Domain" type="button">Back</a>
    <a class="notificationback-link btn btn-outline-success p-2 mt-5" onClick="window.print()" style="width:20%">Print/Save File</a>
</div>

<div class="text-center mb-5 mt-5">
    <h2>Top Three Performers</h2>
    <p style="color:grey">Current Time and Date: <span id="date-time"></span>.</p>
    <img src="~/img/trophy.png" alt="Default Image" style="height:10em">
</div>



<div class="container" style="display:flex; justify-content:center" id="row">
    <div class="row">
        @if (!Model.TopThreeP.Any())
        {
            <div>No data yet!</div>
        }
        else
        {
            @foreach (var (index, performance) in Model.TopThreeP.Select((value, i) => (i + 1, value)))
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card ranking-card text-bg-light mb-3 mx-auto" style="padding:5px">
                        @{
                            var salesName = _context.SERecord.FirstOrDefault(s => s.EmployeeNo == performance.SalesPerson)?.EmployeeFirstname;
                            var salesLName = _context.SERecord.FirstOrDefault(s => s.EmployeeNo == performance.SalesPerson)?.EmployeeLastname;

                            var userWithImage = _context.SERecord.FirstOrDefault(u => u.EmployeeNo == performance.SalesPerson);
                            if (userWithImage != null && userWithImage.AppSerId != null)
                            {
                                var userIdString = userWithImage.AppSerId.ToString();
                                var user = _context.Users.FirstOrDefault(u => u.Id == userIdString);

                                if (user != null && user.Pic != null)
                                {
                                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Pic))" alt="User Image" class="img-fluid card-img-top" style="width:100%; height:280px;">
                                }
                                else
                                {
                                        <img src="~/img/boy.png" alt="Default Image" class="img-fluid card-img-top" style="width:100%; height:280px">
                                }
                            }
                            else
                            {
                                    <img src="~/img/boy.png" alt="Default Image" class="img-fluid card-img-top" style="width:100%; height:280px">
                            }

                        }
                        <div class="card-body text-center mt-3 mb-3">
                            @salesName &nbsp; @salesLName
                            <br>
                            <b>Rank @index</b>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop_@index">
                            Other Details
                        </button>  
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color:#A5FFA9">Units Sold</th>
                                    <th style="background-color:#A5FFA9">Sales Revenue</th>
                                    <th style="background-color:#A5FFA9">Sales Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@string.Format("{0:#,##0}", @performance.UnitsSold)</td>
                                    <td>&#8369; @string.Format("{0:#,##0}", performance.SalesRevenue)</td>
                                    <td>&#8369; @string.Format("{0:#,##0}", performance.SalesProfit)</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop_@index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Other details:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @{
                                            var salesPerson = performance.SalesPerson;
                                            var employeeOfThe = _context.EmployeeofThes.FirstOrDefault(e => e.SalesPerson == salesPerson);
                                            if (employeeOfThe != null)
                                            {
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Employee No:</th>
                                                                                        <th>Employee of the Month:</th>
                                                                                        <th>Employee of the Year:</th>
                                                                                        <th>Date Modified:</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>@employeeOfThe.SalesPerson</td>
                                                                                        <td>@employeeOfThe.EmployeeOfTheMonth</td>
                                                                                        <td>@employeeOfThe.EmployeeOfTheYear</td>
                                                                                        <td>@employeeOfThe.DateModified</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                            }
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }
        }
    </div>
</div>

<h2 class="text-center mt-5 mb-5">The Rest of the Performers</h2>

<div class="table-repsonsive">
    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="background-color:#198754; color:white">Rank</th>
                <th style="background-color:#198754; color:white">Sales Person</th>
                <th style="background-color:#198754; color:white">Image</th>
                <th style="background-color:#198754; color:white">Units Sold</th>
                <th style="background-color:#198754; color:white">Sales Revenue</th>
                <th style="background-color:#198754; color:white">Sales Profit</th>
                <th style="background-color:#198754; color:white">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.RemainingP.Any())
            {
                <div>No Data Yet</div>
            }
            else
            {
                @foreach (var (index, performance) in Model.RemainingP.Select((value, i) => (i + 4, value)))
                {
                    var salesName = _context.SERecord.FirstOrDefault(s => s.EmployeeNo == performance.SalesPerson)?.EmployeeFirstname;
                    var salesLName = _context.SERecord.FirstOrDefault(s => s.EmployeeNo == performance.SalesPerson)?.EmployeeLastname;
                    <tr>
                        <td>@index</td>
                        <td>@salesName @salesLName</td>
                        <td>
                            @{
                                var userWithImage = _context.SERecord.FirstOrDefault(u => u.EmployeeNo == performance.SalesPerson);
                                if (userWithImage != null && userWithImage.AppSerId != null)
                                {
                                    var userIdString = userWithImage.AppSerId.ToString();
                                    var user = _context.Users.FirstOrDefault(u => u.Id == userIdString);

                                    if (user != null && user.Pic != null)
                                    {
                                                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Pic))" alt="User Image" class="img-fluid card-img-top" style="height:4em;">
                                    }
                                    else
                                    {
                                                                    <img src="~/img/boy.png" alt="Default Image" class="img-fluid card-img-top" style="height:4em;">
                                    }
                                }
                                else
                                {
                                                                <img src="~/img/boy.png" alt="Default Image" class="img-fluid card-img-top" style="height:4em;">
                                }

                            }

                        </td>
                        <td>@string.Format("{0:#,##0}", @performance.UnitsSold)</td>
                        <td>&#8369; @string.Format("{0:#,##0}", @performance.SalesRevenue)</td>
                        <td>&#8369; @string.Format("{0:#,##0}", @performance.SalesProfit)</td>
                        <td>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop_@index">
                                Other Details
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop_@index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Other Details:</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @{
                                                var salesPerson = performance.SalesPerson;
                                                var employeeOfThe = _context.EmployeeofThes.FirstOrDefault(e => e.SalesPerson == salesPerson);
                                                if (employeeOfThe != null)
                                                {
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Employee No:</th>
                                                                                            <th>Employee of the Month:</th>
                                                                                            <th>Employee of the Year:</th>
                                                                                            <th>Date Modified:</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>@employeeOfThe.SalesPerson</td>
                                                                                            <td>@employeeOfThe.EmployeeOfTheMonth</td>
                                                                                            <td>@employeeOfThe.EmployeeOfTheYear</td>
                                                                                            <td>@employeeOfThe.DateModified</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                }
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>




<script>
    var dt = new Date();
    document.getElementById('date-time').innerHTML = dt;
</script>