@model IEnumerable<PReMaSys.Models.SERecord>

@{
    ViewData["Title"] = "E-Sales Profit Points";
    Layout = "~/Views/Shared/_LayoutLoggedin.cshtml";
}

<h1 class="text-center mt-5 mb-5">E-Sales Profit Points</h1>


<a asp-action="DeterminePoints" class="btn btn-success p-2 mb-3 d-inline-block">Update Sales Employee Points</a>

<div class="table-responsive">
<table class="table table-hover" id="salespoints">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNo)
            </th>
            <th>
                Employee Full Name
            </th>
            <th>
                Employee Accumulated Points
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" style="color:red; font-family:'Franklin Gothic Book'"> No rows match the Search Criteria!</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeFirstname) @Html.DisplayFor(modelItem => item.EmployeeLastname)
                    </td>
                    <td>
                            @string.Format("{0:#,##0}", item.EmployeePoints)
                    </td>
                </tr>
        }
      }
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>"
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#salespoints').DataTable();
});
</script>
</div>
@*<a class="notificationback-link btn btn-outline-success p-2" href="AdminDashboard" type="button">Back</a>
*@


