@model PReMaSys.Models.Rewards
@{
    ViewData["Title"] = "AddToCart";
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
    
}

@using (@Html.BeginForm())
{

<div class="card border border-success addToCart-card mx-auto border-2 mt-5 mb-3"> 
  <div class="card-body mx-auto">
    <img src="@Url.Content(Model.Picture)" class="card-img-top" alt="...">
  </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item border-success"> <h1 class="text-center fw-bold"> @Model.RewardName</h1></li>
    <li class="list-group-item border-success"><h4>Reward Category: @Model.Category</h4></li>
    <li class="list-group-item border-success"><h4>Reward Description: @Model.Description</h4></li>
    <li class="list-group-item border-success"> <h4>Reward Points Cost: @string.Format("{0:#,##0}",@Model.PointsCost)</h4></li>
            <li class="list-group-item text-center border-success">
                <div>
                    <label for="qty">Quantity:</label>
                    <input type="number" name="qty" id="qty" value="1" min="1" required class="form-control" />
                </div>
            </li>
    <li class="list-group-item text-center border-success ">
     <div>
          <input type="submit" value="Add to Redeem List" class="btn add-to-cart-btn btn-success"/>
          <a asp-action="EmployeeHomePage" asp-controller="Employee" type="button" class="btn btn-outline-success">Back to Dashboard</a>
          
     </div>
      </li>
  

  </ul>
</div>

 
}

