@model List<SalesPerformance>
@{
     Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
    ViewData["Title"] = "Ranking Page";

    // Sort the Model based on SalesProfit in descending order
    var sModel = Model.OrderByDescending(p => p.SalesProfit);
 
}

<style>
    .text-center {
        text-align: center;
    }

    .image-contain {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        align-items: center;
</style>
<partial name="_EmployeePageTablePartial" />  

<div class="text-center">
    <h1 class="page-title-header mt-5">Employee Rankings</h1>
    <div class="image-contain">
        <img src="~/img/trophy.png" alt="Default Image" style="height: 10em;">
    </div>
</div>


<div class="table-responsive">
<table class="table table-hover border-success text-center mt-5" id="ranktable">
    <thead>
        <tr style="text-align:center;">
            <th style="text-align:center; ">Rank</th>
            <th style="text-align:center; ">Sales Person</th>
            <th style="text-align:center; ">Units Sold</th>
            <th style="text-align:center; ">Sales Revenue</th>
            <th style="text-align:center; ">Sales Profit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, performance) in sModel.Select((value, i) => (i + 1, value)))
        {
            <tr>
                <td>@index</td>
                <td>@performance.SalesPerson</td>
                <td>@string.Format("{0:#,##0}",@performance.UnitsSold)</td>
                <td>&#8369; @string.Format("{0:#,##0}",@performance.SalesRevenue)</td>
                <td>&#8369; @string.Format("{0:#,##0}",@performance.SalesProfit)</td>
            </tr>
        }
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#ranktable').DataTable();
});
</script>